@media screen and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .container.container-mini {
    max-width: 1200px;
  }

  .section-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  /* Header */

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid var(--accent-color);
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .contacts {
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .mail,
  .phone-number {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-right: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-studio::after,
  .nav-link-portfolio::after {
    top: 43px;
  }

  /* Mobile menu */
  .mobile-menu-open {
    display: none;
  }

  /* Hero */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/heroimage.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/heroimage2x.jpg);
    }
  }

  .hero-title {
    width: 499px;
    margin-bottom: 48px;
  }

  /* Feauture */

  .feauture {
    padding-bottom: 0;
  }

  .feauture-link {
    display: flex;
  }

  .feauture-list {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 72px) / 4);
  }

  .feauture-title {
    min-width: 134px;
    min-height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }

  /* Doing */

  .doing {
    display: block;
    padding-bottom: 120px;
  }

  .doing-list {
    display: flex;
    gap: 24px;
  }

  .doing-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  /* Team */

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    flex-basis: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }

  /* Customers */

  .customers {
    padding-top: 130px;
    padding-bottom: 125px;
  }

  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }

  /* Footer */

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    column-gap: 0;
    row-gap: 0;
  }

  .ftr-logo-container {
    margin-right: 120px;
  }

  .social-media-container {
    margin-right: 80px;
  }

  .subscribe-container {
    margin-right: 0;
    width: auto;
  }

  /* Modal Window */

  .modal {
    width: 408px;
    height: 584px;
  }
}
